a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #bababa;
}

.beastie-grid {
    display: flex;
    align-items: column;
    flex-wrap: wrap;
    gap: 2em;
}

.beastie-img{
    width: 8em;
    height: 8em;
    border-radius: 50%;
}

.beastie-container{
    display: flex;
    flex-direction: row;
    gap: 2em;
    align-items: flex-start;
    width: 100%;
}

.beastie-bio {
    width: 100%;
}

.beastie-bio pronouns{
    color: #bababa;
}

.beastie-name {
    font-size: 1.25em;
    text-align: left;
}

@media only screen and (max-width: 45em) {
    .beastie-grid {
        display: flex;
        flex-direction: column;
    }

    .beastie-container{
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .beastie-name {
        text-align: center;
    }
}
