.beastie-list {
    display: flex;
    flex-wrap: wrap;
}

.beastie-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
    display: inline-block;
    border-radius: 50%;
    
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 0px;
    padding: 20px;
}

.beastie-container{
    display: flex;
    width: 815px;
    margin: 20px 100px 20px 100px;
}

.beastie-name{
    object-position: center;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 10px;
    font-size: 25px;
}

.beastie-name pronouns{
    font-size: 16px;
    color: gray;
}

.beastie-text{
    font-size: 16px;
}
