* {
    font-family: Trebuchet MS;
    text-align: left;
}

body {
    background-color: #f0f0f0;
    height: 100vh;
    width: 100vw;
    font-size: 1.15em;
}

h1, h2 {
    text-align: center;
}

p {
    line-height: 1.5;
}

#page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.box {
    padding-top: 15px;
    margin: auto;
    background-color: white;
    width: 75%;
    min-width: 425px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box-container {
    margin:                     20px auto 20px auto;
    align-content:              center;
    text-align:                 center;
    min-width:                  300px;
    max-width:                  800px;
}

.box-top {
    margin-left:                auto;
    margin-right:               auto;
}

.box-content {
    background: white;
    padding: 20px;
}

.top-banner {
    background-color:           white;
}

.navbar-container {
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-button a {
    display: inline-block;
    float: right;
    text-decoration: none;
    margin-right: 10px;
}

.navbar-button a, button, button:focus {
    background-color: white;
    color: #909090;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0), 0 3px 10px 0 rgba(0, 0, 0, 0.085);
    border: none;
    background: none;
}

.navbar-button-current a {
    background-color: #909090;
    color: white;
}

.navbar-button a:hover, button:hover {
    background-color: black;
    color: white;
}

#beast-logo {
    margin: auto;
    display: block;
    width: 100px;
    border-radius: 50%;
}

@media screen and (max-width: 1100px) { 
    .beast-container { 
         flex-wrap: wrap;
         justify-content: center;
    }
}

.random-quote {
    cursor: pointer;
}