:root {
    color-scheme: light dark;
}

* {
    font-family: "Open Sans";
    text-align: left;
    background: light-dark(white, #121212);
}


body {
    font-size: 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    border: none;
    color: light-dark(#898989, white);
    text-align: center;
}

button:hover {
    cursor: pointer;
    color: light-dark(black, #bababa);
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}


.footnote {
    font-size: 0.75em;
}


#banner {
    display: flex;
    align-self: start;
    align-items: center;
    justify-content: space-around;
    color: light-dark(black, white);
    width: 100%;
    margin-bottom: -1px;
    outline: 1px solid;
    outline-color: light-dark(#dddddd, #222222);
}

#beast-logo {
    margin: auto;
    display: block;
    height: 3.5em;
    border-radius: 50%;
}

#beast-brand {
    display: flex;
    align-items: center;
    gap: 1em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#beast-title {
    font-size: 1.5em;
}

#main-content {
    width: 50%;
    margin-top: 0.5em;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
}

#navbar button {
    text-align: center;
    font-size: 1em;
    border: none;
    color: light-dark(#898989, white);
    height: 5em;
}

#navbar button:hover {
    cursor: pointer;
    color: light-dark(black, #bababa);
}

#banner a {
    text-decoration: none;
    color: light-dark(#898989, #bababa);
}

#banner a:hover {
    color: light-dark(black, white);
}

#navbar-symbol {
    display: none;
}


@media (max-width: 60em) {
    #main-content {
        width: 75%;
    }
}

@media (max-width: 47.5em) {
    #main-content {
        width: 80%;
    }

    #navbar-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        width: 100%;
    }

    #beast-brand {
        padding-bottom: 0;
    }

    #beast-title {
        font-size: 1.15em;
    }

    #navbar-symbol {
        display: flex;
        align-items: center;
        height: 4em;
    }

    #banner {
        flex-direction: column;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
        width: 100%;
        gap: 0;
    }

    #navbar button {
        width: 100%;
        height: 3em;
        padding-bottom: 1em;
    }

    .toggle-hide {
        display: none;
    }

    .toggle-show {
        display: inline;
    }
}
