/*:root {
    color-scheme: light dark;
}*/

* {
    font-family: "Open Sans";
    text-align: left;
}


body {
    font-size: 1em;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    font-size: 1.5em;
}

h2 {
    font-size: 1.15em;
}

p {
    font-size: 1em;
    line-height: 1.5em;
}


#banner {
    display: flex;
    align-self: start;
    flex-grow: 0;
    align-items: center;
    justify-content: space-around;
    background: black;
    color: white;
    width: 100%;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

#beast-logo {
    margin: auto;
    display: block;
    height: 3.5em;
    border-radius: 50%;
}

#beast-brand {
    display: flex;
    align-items: center;
    gap: 1em;
}

#beast-title {
    margin: auto;
    font-size: 1.5em;
}

#main-content {
    width: 50%;
    margin: 0 0.5em 0.5em 0.5em;
}

#navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2em;
    font-size: 1em;
}


#banner a {
    text-decoration: none;
    color: #bababa;
}

#banner a:hover {
    color: white;
}

.footnote {
    font-size: 0.75em;
}

#navbar-symbol {
    display: none;
}

@media (max-width: 60em) {
    #main-content {
        width: 75%;
    }
}

@media (max-width: 47.5em) {
    #main-content {
        width: 80%;
    }

    #navbar-mobile {
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 1em;
        width: 100%;
    }

    #beast-title {
        font-size: 1.25em;
    }

    #navbar-symbol {
        display: inline;
    }

    #banner {
        flex-direction: column;
    }

    #navbar {
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .toggle-hide {
        display: none;
    }

    .toggle-show {
        display: inline;
    }
}

@media (max-width: 25em) {
    #beast-title {
        font-size: 1em
    }
}
