.box-bottom {
  display: flex;
  padding: 25px 50px 25px 50px;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}

.box-content {
  flex-grow: 3;
}

.sidenav {
  padding: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.0), 0 3px 10px 0 rgba(0, 0, 0, 0.085);
  border-radius: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: white;
  color: pink;
}

li a {
  display: block;
  color: #909090;
  padding: 8px 45px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
  color: white;
  border-radius: 20px;
}

.murphy-current {
  background-color: #909090;
  color: white;
  border-radius: 20px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figure {
  margin: auto;
}

figcaption {
  font-style: italic;
  padding: 4px;
  text-align: center;
  font-size: 14px;
}

div.gallery {
  margin: 5px;
  float: left;
  width: 180px;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  /* padding: 15px; */
  text-align: center;
}